article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'Courier New', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 1px solid;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 1px solid;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 1px solid;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: 'Raleway';
  margin: 0px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #333;
}
.header {
  height: 30px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.container {
  width: 800px;
  margin: 0px auto;
}
.title {
  float: left;
  width: 300px;
  font-size: 24px;
}
.links {
  float: right;
  text-align: right;
  margin: 0px;
  width: 300px;
  padding-top: 4px;
}
.links a {
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  -ms-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  color: #777;
}
.links a:hover {
  color: #333;
}
.links li {
  padding: 5px 5px;
  font-size: 20px;
  display: inline;
}
.content {
  margin-top: 80px;
}
.post {
  margin-bottom: 50px;
}
.title-bar {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.post-title a {
  margin-bottom: 5px;
  font-size: 38px;
  color: #555;
}
.post-date {
  padding-top: 28px;
  font-size: 13px;
  color: #555;
  float: right;
}
.post p {
  line-height: 125%;
}
.post img {
  max-width: 800px;
}
.post blockquote {
  border-color: rgba(0,0,0,0.15);
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eee;
  font-size: 16px;
}
.post pre {
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
.post pre code {
  padding: 0;
  background-color: transparent;
  color: inherit;
  padding: 0 3px;
  border: none;
}
.post code {
  padding: 2px 4px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 13px;
}
.paginate {
  margin-bottom: 20px;
  font-size: 14px;
}
.newer {
  text-align: right;
  float: right;
}
