<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie9">
<![endif]-->
<!-- [if gt IE 8] <!-->
<html lang="en">
  <!-- <![endif]-->
  <head>
    <title>Todd Bealmear</title>
    <meta charset="UTF-8">
    <meta content="The personal musings of Todd Bealmear" name="description">
    <meta content="Todd Bealmear" name="author">
    <meta content="3 days" name="revisit-after">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://www.gravatar.com/avatar/9187b6b44d4a7c8b5b3df5a6b7528c28.png?s=16">
    <link href="http://fonts.googleapis.com/css?family=Raleway:600,400" rel="stylesheet">
    <link href="/vendor/styles/webfonts/ss-social-circle.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/f800b813.main.css"/>
  </head>
  <body class="index">
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">
            <strong>Todd</strong>Bealmear
            </a></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right links">
            <li><a href="https://github.com/todd" class="ss-icon ss-social-circle">octocat</a></li>
            <li><a href="https://twitter.com/ToddBealmear" class="ss-icon ss-social-circle">twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer></footer>
    <script src="/scripts/dc9bbba4.main.js"></script>
  </body>
</html>
